body {
    margin: 0 auto;
    text-align: center;
    font-family: "Titillium Web";
    background-color: #fcfcfc;
}

#Logo {
    margin-top: 5px;
    font-size: 24px;
}

#LoadOntologyResponse {
    width: 800px;
    height: 500px;
}

.cardinality {
    width: 74px !important;
}

#Canvas {
    background-size: 20px 20px;
    background-image: radial-gradient(circle, #e8e8e8 1px, rgba(0, 0, 0, 0) 1px);
}

#CanvasContainer {
    margin: 0 auto;
    width: 800px;
}

#Header {
    background-color: #7db43c;
    color: white;
    text-align: left;
    padding: 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    width: 100%;
    height: 65px;
    box-sizing: border-box;
}

#Menu {
    position: absolute;
    right: 50px;
    top: 5px;
    font-size: 15px;
    letter-spacing: 0.05em;
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-weight: bold;
}

#ClassEditor {
    position: absolute;
    right: -300px;
    top: 0;
    width: 300px;
    height: 100%;
    background-color: white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    text-align: left;
    padding: 10px;
    box-sizing: border-box;
    overflow: auto;
    transition: all 0.5s;
}

#activeProperties, #activeAssociations, #activeInheritance {
    font-size: 11px;
}

label {
    display: block;
    font-size: 12px;
    margin-top: 5px;
}

#PopupOverlay {
    width: 100%;
    height: calc(100% - 65px);
    padding: 50px;
    text-align: left;
    position: absolute;
    z-index: 99;
    background-color: black;
    opacity: 0.5;
    box-sizing: border-box;
    display: none;
}

#Popup {
    position: absolute;
    width: 750px;
    max-height: 500px;
    z-index: 999;
    background-color: white;
    padding: 25px;
    text-align: left;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 150px;
    display: none;
}

#Schema {
    max-height: 450px;
    overflow-y: scroll;
}

#ClassList, #ClassRelationList, #ClassAttributeList, #RootClassList, #ClassRelationRangeList, #SuperClassList {
    list-style-type: none;
    padding: 0;
    margin: 0;
    border: 1px solid lightgrey;
    position: absolute;
    max-height: 200px;
    max-width: 275px;
    background-color: white;
    overflow-y: auto;
    overflow-x: hidden;
}

#ClassList:empty, #ClassRelationList:empty, #ClassAttributeList:empty, #RootClassList:empty, #ClassRelationRangeList:empty, #SuperClassList:empty {
    display: none;
}

#ClassList li, #ClassRelationList li, #ClassAttributeList li, #RootClassList li, #ClassRelationRangeList li, #SuperClassList li {
    font-size: 13px;
    padding: 6px;
    border-bottom: 1px solid #e6ede8;
    cursor: pointer;
    background-color: white;
    min-width: 250px;
}

#ClassList li:hover, #ClassRelationList li:hover, #ClassAttributeList li:hover, #RootClassList li:hover, #ClassRelationRangeList li:hover, #SuperClassList li:hover {
    background-color: #e6ede8;
}

#Ontologies {
    min-width: 250px;
    min-height: 50px;
    background-color: white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    position: absolute;
    right: 25px;
    top: 25px;
    text-align: left;
    box-sizing: border-box;
    padding: 10px;
    font-size: 11px;
}

#LoadedOntologies {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#Ontologies h3 {
    padding: 0;
    padding-bottom: 5px;
}

#Menu li {
  display: block;
  float: left;
  padding: 20px;
}

#Left {
    float: left;
    width: 300px;
    height: 100%;
    background-color: white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    text-align: left;
    padding: 10px;
    box-sizing: border-box;
    overflow: hidden;
}

h3 {
    font-size: 15px;
    padding: 0;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 5px;
}

input[type="text"], input[type="password"] {
    padding: 5px;
    border-radius: 3px;
    border: 1px solid lightgrey;
    width: 245px;
    font-family: "Titillium Web";
}

#IRI, #uid, #password {
    width: 200px;
}

#ClassInput, #SuperClass  {
    width: 170px;
}

#Namespace, #JSONNamespace {
    width: 178px;
}

#ClassAttributeMax, #ClassRelationMax {
    width: 170px;
}

input[type="submit"] {
    margin-left: -6px;
    height: 32px;
    min-width: 50px;
    border: none;
    background-color: #e56c00;
    color: white;
    font-family: "Titillium Web";
}

#Right {
    float: left;
    width: calc(100% - 300px);
    height: 100%;
    overflow: auto;
    box-sizing: border-box;
}

#Container {
    height: calc(100% - 65px);
    width: 100%;
    position: absolute;
    top: 65px;
    box-sizing: border-box;
    overflow: hidden;
}

#ClassEditor h1 {
    margin-top: 10px;
}

#ClassEditor h2 {
    margin-top: 20px;
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 5px;
}

h1 {
    margin: 0;
    padding: 0;
    font-size: 22px;
}

h2 {
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-weight: normal;
}