body {
    margin: 0 auto;
    text-align: center;
    font-family: "Poppins";
    color: var(--text-color);
}

#Header {
    background-color: var(--bg-color);
    text-align: left;
    border-bottom: 1px solid var(--border-color);
    width: 100%;
    height: 60px;
    box-sizing: border-box;
    display: flex;
}

#Logo {
	display: flex;
	align-items: flex-start;
	height: 100%;
	width: 380px;
	border-right: 1px solid var(--border-color);
	align-items: center;
}

.menuItem {
	font-size: 12px;
	font-weight: bold;
	border-bottom: 1px solid #dbdbdb;
	height: 85px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#LogoIcon {
	font-size: 48px;
	color: var(--accent-color);
	margin-left: 15px;
	margin-right: 40px;
}

h1 {
	font-size: 22px;
}

h2 {
	font-size: 16px;
	margin: 0;
	padding: 0;
	margin-bottom: 15px;
}

h3 {
	font-size: 13px;
}

#ToolBar {
	display: flex;
	align-items: center;
	padding-left: 25px;
}

i {
	transition: transform 0.1s;
}

.tool {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 50px;
}

.tool:hover, .menuItem:hover {
	cursor: pointer;
}

.tool:hover .toolLabel, .menuItem:hover .menuItemLabel, .active .menuItemLabel, .toolHover .toolLabel {
	font-size: 13px;
}

.tool:hover i, .menuItem:hover i, .active i, .toolHover i {
	transform: scale(1.35);
}

.toolLabel, .menuItemLabel {
	font-size: 11px;
	font-weight: bold;
}

.active {
	background-color: white;
	border-right: 3px solid white;
	color: var(--accent-color);
}

.active i {
	color: var(--accent-color);
}

#LoadOntologyResponse {
    width: 800px;
    height: 500px;
}

.cardinality {
    width: 90px !important;
}

#Canvas {
    background-size: 20px 20px;
    background-image: radial-gradient(circle, #e6e6e6 1px, rgba(0, 0, 0, 0) 1px);
}

#CanvasContainer {
    margin: 0 auto;
    width: 800px;
}

#ClassEditor {
    position: absolute;
    right: -300px;
    top: 0;
    width: 300px;
    height: 100%;
    text-align: left;
    padding: 20px;
    box-sizing: border-box;
    overflow: auto;
    transition: all 0.5s;
    border-left: 1px solid var(--border-color);
    background-color: white;
}

#activeProperties, #activeAssociations, #activeInheritance {
    font-size: 11px;
}

label {
	font-size: 11px;
	display: block;
}

#PopupOverlay {
    width: 100%;
    height: calc(100% - 65px);
    padding: 50px;
    text-align: left;
    position: absolute;
    z-index: 99;
    background-color: black;
    opacity: 0.5;
    box-sizing: border-box;
    display: none;
}

#Popup {
    position: absolute;
    width: 750px;
    max-height: 500px;
    z-index: 999;
    background-color: white;
    padding: 25px;
    text-align: left;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 150px;
    display: none;
}

#Schema {
    max-height: 450px;
    overflow-y: scroll;
}

#ClassList, #ClassRelationList, #ClassAttributeList, #RootClassList, #ClassRelationRangeList, #SuperClassList {
    list-style-type: none;
    padding: 0;
    margin: 0;
    border: 1px solid lightgrey;
    position: absolute;
    max-height: 200px;
    max-width: 275px;
    background-color: white;
    overflow-y: auto;
    overflow-x: hidden;
}

#ClassList:empty, #ClassRelationList:empty, #ClassAttributeList:empty, #RootClassList:empty, #ClassRelationRangeList:empty, #SuperClassList:empty {
    display: none;
}

#ClassList li, #ClassRelationList li, #ClassAttributeList li, #RootClassList li, #ClassRelationRangeList li, #SuperClassList li {
    font-size: 13px;
    padding: 6px;
    border-bottom: 1px solid #e6ede8;
    cursor: pointer;
    background-color: white;
    min-width: 250px;
}

#ClassList li:hover, #ClassRelationList li:hover, #ClassAttributeList li:hover, #RootClassList li:hover, #ClassRelationRangeList li:hover, #SuperClassList li:hover {
    background-color: #e6ede8;
}

#Ontologies {
    min-width: 250px;
    min-height: 50px;
    background-color: white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    position: absolute;
    right: 25px;
    top: 25px;
    text-align: left;
    box-sizing: border-box;
    padding: 10px;
    font-size: 11px;
    border: 1px solid var(--border-color);
}

#Ontologies h3 {
    padding: 0;
    margin: 0;
}

#LoadedOntologies {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#Menu li {
  display: block;
  float: left;
  padding: 20px;
}

#Left {
    float: left;
    width: 300px;
    height: 100%;
    text-align: left;
    padding: 20px;
    box-sizing: border-box;
    overflow: hidden;
    border-right: 1px solid var(--border-color);
    overflow-y: auto;
}

#Left::-webkit-scrollbar, #ClassEditor::-webkit-scrollbar {
  display: none;
}

#MenuBar {
	width: 80px;
	background-color: var(--bg-color);
	height: 100%;
	border-right: 1px solid var(--border-color);
	float: left;
}

input {
	margin-bottom: 5px;
	border: 1px solid var(--border-color);
	background-color: #fcfcfc;
	font-family: 'Poppins';
	border-radius: 2px;
}

input[type="text"], input[type="password"] {
    padding: 5px;
    border-radius: 3px;
    width: 245px;
}

#IRI, #uid {
    width: 200px;
}

#password {
    width: 196px;
}

#ClassInput, #SuperClass  {
    width: 199px;
}

#Namespace, #JSONNamespace {
    width: 170px;
}

#ClassAttributeMax, #ClassRelationMax {
    width: 170px;
}

input[type="submit"] {
    margin-left: -6px;
    height: 32px;
    min-width: 50px;
    font-weight: bold;
}

#Right {
    float: left;
    width: calc(100% - 381px);
    height: 100%;
    overflow: auto;
    box-sizing: border-box;
}

#Container {
    height: calc(100% - 60px);
    width: 100%;
    position: absolute;
    top: 60px;
    box-sizing: border-box;
    overflow: hidden;
}